/* Your code goes here, if needed */

.container {
    padding: 2px
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }


.card {
    display: flex;
}  

/* DO NOT CHANGE CODE BELOW THIS LINE */
.red {
    background-color: darkred;
    color: white;
}

.orange {
    background-color: darkorange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: darkgreen;
    color: white;
}

.blue {
    background-color: navy;
    color: white;
}

.purple {
    background-color: purple;
    color: white;
}

.black {
    background-color: black;
    color: white;
}

.gray {
    background-color: darkslategray;
    color: white;
}


div[class*="col"] {
    min-height: 250px;
}

div[class*="container"] {
    min-height: 250px;
}